<style media="screen" type="text/css" >    
    #pas_de_spam{

        position:relative;
    
        font-family : Verdana, Arial, sans-serif;
        font-size:12px;
        color:#575757;
    
        margin-left:auto;
        margin-right:auto;
        margin-top:150px;
    
        width:250px;
        height:100px;
    
        border:1px solid #3eb138;
        background:#a7ffa3 url(../../images/Miranda.png) 10px -55px no-repeat;
    
        padding-left: 290px;
        padding-top:50px;

}
</style>


<div id="pas_de_spam">
    Vous allez recevoir le mail dans quelques minutes.
</div>