.delete{

    width:24px;
    height:24px;

    margin-left:auto;
    margin-right:auto;

    background:url(../../images/delete.png) top left no-repeat;

    cursor:pointer;

}



#wlist, #blist, #formajout{
    width:406px;

    margin-left:auto;
    margin-right:auto;
}


#formajout{

    background:#d2d5d5;

    font-family : Verdana, Arial, sans-serif;
    font-size:12px;
    color:#575757;

    padding:10px;

    margin-bottom:20px;

}

.buttonAdd{
    cursor:pointer;
}